.nav {
	> li {
		> a {
			&:hover {}
			&:focus{}
		}
		&.active {
			> a {
				&:hover {}
				&:focus{}
			}
		}
	}
}

.nav-list {
	> li {
		> a {
			&:hover {}
			&:focus{}
		}
		&.active {
			> a {
				&:hover {}
				&:focus{}
			}
		}
	}
}

.nav-pills {
	> li {
		> a {
			&:hover {}
			&:focus{}
		}
		&.active {
			> a {
				&:hover {}
				&:focus{}
			}
		}
	}
}

.navbar {
	.navbar-brand {
		margin-top: 8px;
		@media (max-width: 768px) {
			margin-left:15px;
			float: right;
			margin-right: 20px;
		}
		&:hover{}
		&:focus{}
	}
	.navbar-inner {
		.nav {
			> li {
				> a {
					font-family: $primary-font;
					&:hover {
						font-weight:700;
					}
					&:focus{}
				}
				&.active {
					a {
						&:hover {}
						&:focus{}
					}
				}
			}
		}
	}
}

.navbar-nav {
	@media (min-width: 768px) {
		float:right;
		margin-top: 8px;
	}
	@media (max-width: 768px) {
		text-align:center;
		background-color:$primary-color;
	}
	> li {
		> a {
			font-family: $primary-font;
			font-weight: 300;
			font-size: 16px;
			color: #ffffff;
			padding: 7px 20px 10px;

			@media (max-width: 768px) {
				color:#fff;
			}

			&.hot {
				border:1px solid $red;
				color: #fff;
				border-radius: 50px;

				&:hover {
					background-color:darken($red, 10%);
					color: #FFF;
				}
			}

			&.active {
				/*&:before {
					content: url('assets/img/active-arrow.png');
					position: absolute;
					bottom: -5px;
					text-align: center;
					left: 50%;
					margin-left: -5px;
				}*/
			}

			&:hover , &:focus {
				color:$red;
				background: transparent;
				font-weight:400;
			}

		}
	}	
}

.navbar-header{}
.navbar-collapse{
	&.collapse {
		@media (min-width: 768px) {
			height:55px !important;
		}
	}
}
.navbar-toggle{
	border: none;

	@media (max-width: 768px) {
		float:left;
		margin-top: 12px;
	}
	&:hover{}
	&:focus{}	
}
.navbar-fixed-top{
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    padding:15px 0;

    .col-sm-10 {
    	@media (max-width: 768px) {
    		padding:0;
    	}
    }
}
.navbar-static-top{}
.navbar-fixed-bottom{}

.icon-bar{
	background-color: #fff;
}

.visible-header .icon-bar {
	background-color: #000;
}