.scroll_way {
  margin-top: 20px;
  display: inline-block;
  width: 300px;
  text-align: center;
  margin-top: 40px;

  a {
	width: 50px;
	height: 50px;
	padding: 13px 15px;
	color: #fff;
	background: url(assets/img/push-blue.svg) no-repeat;
	background-size: 100%;
	display: inline-block;
	text-align: center;
  }
}