
.carousel-inner {
	min-height: 80vh;

	.item {
		min-height: 80vh;

		.caption {
			color: $primary-color;
			min-height: 100%;
			width: 100%;
			max-width: 100%;
			padding: 70px;
			.special_title {
				font-size: 45px;
				margin-top: 90px;
				&:before {
					top:80px;
				}
			}
			.controls_box {
				
			}
			
			p {
				&.lead {
					font-weight: 700;
				}
			}
			
		}
	}
}

.carousel-left {
	position: relative;
	width: 60%;
	float: left;
	min-height: 80vh;

	@media (max-width: 768px) {
		float:none;
		width: 100%;
	}
}
.carousel-right {
	position: relative;
	width: 40%;
	float: left;
	min-height: 80vh;

	@media (max-width: 768px) {
		float:none;
		width: 100%;
	}
	
}

@media (max-width: 768px) {
	.carousel-control {
		top: 0;
		background: none;
		color: #000;
		text-shadow: none;
		font-size: 6em;
		opacity: 1;
		  &:hover {
		  	color:#000;
		  }

		&.left {
			background:none;
		}

		&.right {
			background:none;
		}
	}
}


@media (min-width: 768px) {
	.carousel-control {
		top: auto;
		bottom: 20px;
		background: none;
		color: #000;
		text-shadow: none;
		font-size: 2em;
		opacity: 1;
		  &:hover {
		  	color:#000;
		  }

		&.left {
			background:none;
			left: 40px;
		}

		&.right {
			background:none;
			left: 160px;
			right: auto;
		}
	}
}

.carousel-indicators {
	left: 110px;
	width: 60px;
	margin-left:0;
	@media (max-width: 768px) {
		display:none;
	}
	li {
		border-color: #000;

		&.active {
			background-color: #000;
		}
	}
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}



