
figure#drop {
position: fixed;
top: 380px;
left: 50%;
margin-left:-36px;
z-index:201;
}


/* 1. Sky */

section#sky {
background:url(assets/img/noise.png) #FFFFFF;
height: 1393px;
width: 100%;

position: relative; 
z-index:200;
}



	#cloud1 {
	position: absolute;
	top: 350px; 
	right: -20px;
	}
	
	#cloud2 {
	position: absolute;
	top: 500px;
	left: -400px;
	}
	
	#cloud3 {
	position: absolute;
	top: 590px;
	left: -130px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);}
	
	#cloud4 {
	position: absolute;
	top: 420px;
	right: 50px;}
	
	#cloud5 {
	position: absolute;
	top: 775px;
	right: -300px;}
	
	#cloud6 {
	position: absolute;
	top: 1550px;
	left: 150px;}
	
	#cloud7 {
	position: absolute;
	top: 1050px;
	right: 20px;
	-webkit-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);}
	
	#cloud8 {
	position: absolute;
	top: 1800px;
	left: 350px;}
	
	#cloud9 {
	position: absolute;
	top: 2500px;
	right: 10px;}

/* 2. Highway */
	
section#highway {
position: relative;
background: #8ba341 url(assets/img/noise.png);
height: 3400px;
width: 100%;
padding-top: 800px;
}

	article#texttrucks {
	margin: 0 0 0 90px;
	width: 310px;
	opacity: .9;
	border: 1px #111 solid;
	outline: 10px #fff solid;
	}
	
	article#texttrucks2 {
	margin: 0 0 0 100px;
	width: 320px;
	opacity: .9;
	padding: 20px 15px;
	border: 1px #111 solid;
	outline: 10px #fff solid;
	}
	

	
		
		#clouda {
		position: absolute;
		top: 500px; 
		left: 50%;
		margin-left: 300px;
		z-index: 300;
		}
		
		#cloudb {
		position: absolute;
		top: 650px;
		left: 50%;
		margin-left: -300px;
		z-index:300;
		}
		
		#cloudc {
		position: absolute;
		top: 250px;
		left: 50%;
		margin-left: -900px;
		z-index: 300;
		}
		
		#cloudc2 {
		position: absolute;
		top: 700px;
		left: 50%;
		margin-left: -50px;
		z-index: 300;
		}
	