@font-face {
    font-family: bebas;
    src: url(assets/fonts/BebasNeue-Regular.otf);
}
@font-face {
    font-family: bebas-thin;
    src: url(assets/fonts/BebasNeue-Thin.otf);
}
@font-face {
    font-family: bebas-light;
    src: url(assets/fonts/BebasNeue-Light.otf);
}
@font-face {
    font-family: bebas-book;
    src: url(assets/fonts/BebasNeue-Book.otf);
}
@font-face {
    font-family: bebas-bold;
    src: url(assets/fonts/BebasNeue-Bold.otf);
}
html {
	
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;

	@media (min-width: 480px) {}
	@media (min-width: 600px) {}
	@media (min-width: 768px) {}
	@media (min-width: 992px) {}
	@media (min-width: 1200px) {}
	@media (max-width: 1200px) {}
	@media (max-width: 991px) {}
	@media (max-width: 767px) {}
	@media (max-width: 599px) {}
	@media (max-width: 479px) {}
}

.container{
	margin: 0 auto;
	max-width: 1200px;
	@media (min-width: 480px) {}
	@media (min-width: 600px) {}
	@media (min-width: 768px) {}
	@media (min-width: 992px) {}
	@media (min-width: 1200px) {}
}
.row {}
.row [class*="span"] {
	&:first-child {}
}
.clearfix{}
.center-block {}
.pull-right {}
.pull-left {}
.hide{}
.show{}
.invisible {}
.text-hide {}
.hidden {}
.affix{}

hr {
	&.title_border {
		max-width: 170px;
	}
}
