$color-0: 					#FFFFFF;
$primary-color :			#1e2e4f;
$alternate-color:			#0e1121;
$secondary-color:			#6689aa;
$third-color:				#af163c;
$red:						#982838;
$primary-font:				"Lato", sans-serif;
$custom-font:				'Abril Fatface', cursive;