
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {}

label {}
input[type="text"] {}
input[type="text-area"] {}
input[type="text"] .search-query {}
button[type="subit"] {}
label.checkbox {}
input[type="checkbox"] {}
label.radio {}
input[type="radio"] {}
select {}
textarea {}
input[type="password"] {}
input[type="datetime"]{}
input[type="datetime-local"] {}
input[type="date"] {}
input[type="month"] {}
input[type="time"] {}
input[type="week"] {}
input[type="number"] {}
input[type="email"] {}
input[type="url"] {}
input[type="search"] {}
input[type="tel"] {}
input[type="color"] {}
.uneditable-input {}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

.msg-form{
	color:green;
}
.form-group{
	margin: 5px 0;
	&.btn-block {
		width: 100%;
	}
}
.form-control{
	background-color: transparent;
	border:1px solid $color-0;
	color: $color-0;
	border-radius: 0;
	margin: 5px 0;
	&.btn-block {
		width: 100%;
	}
}
.form-control-feedback {}

.form-inline{
	.form-group{}
	.form-control{}
	.form-control-feedback {}
}
.form-horizontal{
	.form-group{}
	.form-control{}
	.form-control-feedback {}
}

.has-feedback{}
.has-success{}
.has-warning{}
.has-error{}

.help-block{}
.control-label{}

.input-group{}
.input-group-lg{}
.input-group-sm{}

.msg-form {
	display: inline-block;
	background-color: #b14943;
	padding: 20px;
	color: #fff;
}