h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  { 

	font-family: 'bebas-light', sans-serif;
		color: #000000;

	strong {
		font-family: 'bebas', sans-serif;
	}
	
	&.special_title {
		font-size: 80px;
		letter-spacing: 4px;
		&:before {
			content:url(assets/img/line.png);
			position: absolute;
			top: 10px;
			width: 60px;

			@media (max-width: 768px) {
				display:none;
			}
		}
	}
	a{
		&:hover{} 
	}
}
h1, .h1 {
	a{
		&:hover{} 
	}
}
h2, .h2 {
	a{
		&:hover{} 
	}
}
h3, .h3 {
	font-size: 36px;
	a{
		&:hover{} 
	}
}
h4, .h4 {
	a{
		&:hover{} 
	}
}
h5, .h5 {
	a{
		&:hover{} 
	}
}
h6, .h6 {
	a{
		&:hover{} 
	}
}

p, li {
	a{
		&:hover{} 
	}
}
p {
	a{
		&:hover{} 
	}
}
li {
	a{
		&:hover{} 
	}
}
a{
	&:hover{} 
	&:focus{} 
}

small, .small {}
strong, .strong {}
em {}

.lead {}
.text-left{}
.text-center{}
.text-right{}
.text-justify{}
.text-muted{}

blockquote {}
address {}

hr {}

abbr[title]{}
.initialism {}