footer {
	background-color: $primary-color;
	color: $color-0;

	.site-info {
		img {
			max-width: 150px;
		}
		a {
			color: $color-0;
		}
		.logo_footer, .list_social_footer {
			float: left;
			width: 50%;
			padding: 5px 0;
			margin-bottom: 0;

			ul {
				margin-bottom: 0;
			}
		}
		.logo_footer {
			padding: 13px 0;
		}
		
		.social-list {
			width: 100%;
			margin: 0;
			height: 100px;
			display: table;
			li {
				width: 32.3333%;
				height: 100px;
				display: table-cell;
				vertical-align: middle;
				text-align: center;

				i {
					font-size: 1.8em;
					margin-bottom: 10px;
				}

				a {
					color: $color-0;
				}

				p {
					margin: 0;
				}

				@media(min-width: 768px) {
					&:nth-child(1) {
						border-left:1px solid $alternate-color;
					}
					&:nth-child(2) {
						border-left:1px solid $alternate-color;
						border-right:1px solid $alternate-color;
					}
					&:nth-child(3) {
						border-right:1px solid $alternate-color;
					}
				}
			}
		}
	}
	hr {
		border-top:1px solid $alternate-color;
		margin-top: 0;
	}
	.menu {
		list-style: none;
		li {
			a {
				color: $color-0;
			}
		}
	}
}

body {
	&.page-template-cms {
		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: #fff;
			border:none;
		}
		.backto {
			position: absolute;
			z-index: 2000;
			top: 50px;
			background-color: transparent;
			border: 1px solid #fff;
			padding: 10px 20px;
			border-radius: 0;
			-webkit-transition: width 0.5s;
			transition: width 0.5s;

			right: 0;
		}
	}
}