footer {
	  &.site-footer {
		
		border-top: 1px solid #03031e;

		ul {
			list-style: none;
		}
	  }

	.social-list {
		margin:0;
		padding: 5px 0;
		li {
			a {
				color: #369dcc;
				font-size: 1.5em;
			}
		}
	}
	.site-info {
		padding: 10px 0 0;
		@media (max-width: 768px) {
			.text-left, .text-right {
				text-align:center;
			}
		}
	}
	#menu-menu-footer {
		padding: 10px 0;
		li {
			a {
				color: #03031e;
			}
		}
	}
	#menu-footer-nav {
		padding: 0;
	}
}