header {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	&.header {
		//opacity: 0;
		&.visible-header {
			opacity: 1;
		}
	}
	.navbar-fixed-top {
		background: #000;
		border-bottom: 1px solid #fff;
		height: 55px;
		padding: 0;
	}
	.navbar-brand {
		background: url(assets/img/logo-nav-alt.png);
		width: 78px;
		height: 39px;
	}

	&.headroom--not-top {
		&.headroom--unpinned, &.headroom--pinned {
			.navbar-toggle {
				border-color:$color-0;
			}
			.icon-bar{
				background-color: $color-0;
			}
			

			.navbar-fixed-top {
				padding: 0;
				background: #000000;
				-webkit-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				-ms-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				transition: all 0.5s ease;
				.navbar-nav {
					@media (min-width: 768px) {
						float:right;
					}
					> li {
						> a {
							
						}
					}	
				}
			}
		}
	}

}