header {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	.navbar-fixed-top {
		background: #000;
		height: 55px;
		padding: 0;
	}
	.navbar-brand {
		background: url(assets/img/logo-nav-alt.png);
		width: 78px;
		height: 39px;
	}
	&.header {
		//opacity: 0;
		&.visible-header {
			opacity: 1;
			.navbar-fixed-top {
				background-color: #ffffff;
				border-bottom: 1px solid #000;

				.nav {
					> li {
						> a {
							color: #000;
							font-weight: 300;
							&.hot {
								border:1px solid $red;
								color: #982838;
								border-radius: 50px;

								&:hover {
									background-color:darken($red, 10%);
								}
							}
							&:hover {}
							&:focus{}
						}
						&.active {
							a {
								&:hover {}
								&:focus{}
							}
						}
					}
				}
				.navbar-brand {
					background: url(assets/img/logo-nav.png);
				}
			}
		}
	}
	

	&.headroom--not-top {
		&.headroom--unpinned, &.headroom--pinned {
			.navbar-toggle {
				border-color:$color-0;
			}
			.icon-bar{
				background-color: $color-0;
			}
			

			
		}
	}

}