section {
	&.home_description {
		
	}
	&.home_intro {
		text-align: center;
		background: url(assets/img/bg-intro.jpg) center center no-repeat;
		@include background-size(cover);
		height: 100vh;
		.home_logo {
			margin-top: 125px;
		}
		.top_parallax {
			position: absolute;
			left: 50%;
			width: 122px;
			margin-left: -61px;
			bottom: -430px;
		}
		h1 {
			text-transform: uppercase;
			font-size: 55px;
			color: #fff;
			margin-top: 65px;
			font-family: 'bebas', sans-serif;
			font-weight: 700;
			letter-spacing: 10px;

			@media (max-width: 768px) {
				font-size:26px;
			}
		}
	}
	&.home_realisation {
		position: relative;
		min-height: 80vh;

	}
	&.home_description {
		background: url(assets/img/bg-home-description.jpg) center center no-repeat;
		@include background-size(cover);
		min-height: 623px;
		padding: 40px 0;
		.cadre {
			color: $color-0;
			@media (min-width: 990px) {
				background: url(assets/img/cadre-home-description.png) center center no-repeat;
				width: 964px;
				height: 623px;
				margin: 0 auto;
				padding: 140px 40px 0;
				margin-bottom: 150px;
			}
			h2 {
				font-family: $custom-font;
				text-align: center;
				text-transform: uppercase;
				font-size: 46px;
				color: $color-0;
			}
			.box_txt {
				li {
					p {
						text-align: justify;
						line-height: 25px;
						letter-spacing: 1px;
						font-weight: 300;
					}
				}
			}
		}
	}
	&.home_art {
		background: #eae8e9;
		position: relative;
		@media (min-width: 990px) {
			height: 646px;
		}
		p{
			
			@media (min-width: 990px) {
				width: 77%;
			}
			padding-bottom: 35px;
			
		}
		.special_title {
			margin-top: 110px;
			color: #0e1121;
			line-height: 100px;
		}
		.portrait {
			position: absolute;
			right: 0;
			bottom: 0;


			@media (max-width: 1200px) {
				width:60%;
			}
			@media (max-width: 990px) {
				width: 100%;
				position: relative;
			}
		}
	}
	&.home_puissance {
		.special_title {
			margin-top: 110px;
			color: #0e1121;

			&:before {
				left:50%;
				margin-left: -30px;
			}
		}
		.box_img_mob {
			width: 100%;
		}
		p {
			font-family: $primary-font;
			font-size: 32px;
			margin: 20px 0 60px;
			font-weight: 300;
			line-height: 48px;
			@media (max-width: 768px) {
				font-size: 20px;
				font-weight: 400;
			}
			&.catch {
				margin-top: 200px;
				@media (max-width: 768px) {
					margin-top:0px;
					font-size: 20px;
					font-weight: 400;
					line-height: 35px;
				}
			}
			
		}
		.box_img {
			position: relative;



			.box_txt {
				padding: 40px;
				background: #fff;
				width: 473px;
				position: absolute;
				bottom: -130px;
				right: 0;
				@media (max-width: 768px) {
					padding: 40px 15px;
					background: #fff;
					width: auto;
					position: relative;
					top: 0px;
					right: 0;
				}
				p {
					font-size: 16px;
					line-height: 24px;
					text-align: left;
					margin:0;
				}
			}
		}
	}
	&.home_boisson {
		background: #fafaff;
		padding: 40px 0;
		position: relative;
		
		@media (min-width: 768px) {
			height:100vh;
		}
		p {
			font-size: 32px;
			line-height: 48px;
			font-weight: 300;

			@media (max-width: 768px) {
				font-size:20px;
				font-weight: 400;
			}

			small {
				font-size: 18px;
				line-height: 27px;
				margin-top: 50px;
				width: 80%;
				display: inline-block;

				@media (max-width: 768px) {
					width: 100%;
				}
			}
		}
		h2 {
			margin-top: 110px;
			color:#0e1121;
			&:before {
				top:10px;
			}
		}
		.package {
			position: absolute;
			right: 5%;
			top: 20%;
			bottom: 100px;

			@media (max-width: 768px) {
				position: relative;
				top: 20px;
				width: 300px;
				left: 50%;
				margin-left: -150px;
			}
		}
	}
	&.home_ingredients {
		background-color: $primary-color;
		padding-bottom: 50px;
		.special_title {
			margin-top: 110px;
			color: #fff;

			&:before {
				left:50%;
				margin-left: -30px;
				content:url(assets/img/line-alt.png);
			}
		}
		p {
			
			font-size: 25px;
			margin: 20px 0 60px;
			color: #fff;
			font-family: $primary-font;
			font-weight: 300;
			&.catch {
				margin-top: 200px;
			}
			
		}
	}
	&.home_video {
		padding:80px 0;

		.thumbs_video_list {
			li {
				video {
					max-width: 100%;
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
	}
	&.home_club {

		margin-bottom: 265px;

		margin-bottom: 290px;
		position: relative;

		.club_banner {
			position: absolute;
			left: 12%;

			@media (max-width: 768px) {
				position: absolute;
				left: 50%;
				width: 80px;
				margin-left: -40px;
			}
			
		}
		h2 {
			&.special_title {
				color: #000;
				border-color: $color-0;
				font-size: 60px;
				padding-top: 30px;
			}
		}
		.box-img{
			width: 865px;
			float: right;
			margin-top: 100px;

			@media (max-width: 768px) {
				width: auto;
				float: right;
				margin-top: 140px;
			}
		}
		.box-text {
			padding:35px 35px 35px 30px;
			background: #fff;
			max-width: 840px;
			min-width: 700px;
			position: absolute;
			top: 245px;
			@media (max-width: 768px) {
				padding: 35px 35px 35px 30px;
				background: transparent;
				clear: both;
				max-width: 840px;
				min-width: 100%;
				position: relative;
				top: auto;
			}
			.special_title {
				margin-top: 65px;
				font-size: 80px;
				@media (max-width: 768px) {
					font-size:48px;
				}
				&:before {
					top:-7px;
				}
			}
			p {
				font-size: 18px;
			}
		}

		.nlforminput{
			margin-left: 320px;
			text-align: right;
			float: right;

			@media (max-width: 768px) {
				margin-left:0;
			}

		}
		.nl-form {
			width: 90%;
			//margin: 0.3em auto 0 auto;
			font-size: 1.4em;
			line-height: 1.5;
		}

		.nl-form ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

/* normalize the input elements, make them look like everything else */
.nl-form input,
.nl-form select{
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	display: inline-block;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.nl-form input:focus {
	outline: none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
	display: inline-block;
	position: relative;
}

.nl-field.nl-field-open {
	z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select  {
	line-height: inherit;
	display: inline-block;
	color: #b14943;
	cursor: pointer;
	border-bottom: 1px dashed #b14943;
	font-style: italic;
}

/* drop-down list / text element */
.nl-field ul {
	position: absolute;
	visibility: hidden;
	background: #af163c;
	left: -0.5em;
	top: 50%;
	font-size: 80%;
	opacity: 0;
	-webkit-transform: translateY(-40%) scale(0.9);
	-moz-transform: translateY(-40%) scale(0.9);
	transform: translateY(-40%) scale(0.9);
	-webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(-50%) scale(1);
	-moz-transform: translateY(-50%) scale(1);
	transform: translateY(-50%) scale(1);
	-webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
	transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
	color: #fff;
	position: relative;
}

.nl-dd ul li {
	padding: 0 1.5em 0 0.5em;
	cursor: pointer;
	white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
	color: #478982;
}

.no-touch .nl-dd ul li:hover {
	background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
	color: #478982;
}

/* icons for some elements */
.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
	font-family: 'nlicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.nl-dd ul li.nl-dd-checked:before {
	content: "\e000";
	position: absolute;
	right: 1em;
	font-size: 50%;
	line-height: 3;
}

.nl-ti-text ul {
	min-width: 15em;
	padding: 15px;
}

.nl-ti-text ul li.nl-ti-input input {
	width: 100%;
	padding: 0.2em 2em 0.2em 0.5em;
	border-bottom: none;
	color: #fff;


}

.nl-form .nl-field-go {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	cursor: pointer;
	background: rgba(0,0,0,0.1);
	width: 1.8em;
	text-align: center;
	color: transparent;
}

.nl-field-go:before {
	content: "\f00d";
	font-size: 75%;
	color: #fff;
	width: 100%;
	line-height: 2.5;
	display: block;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.8);
	font-size: 1em;
	
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
	color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
	color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
	color: rgba(255,255,255,0.2);
}

/* example field below text input */
.nl-ti-text ul li.nl-ti-example {
	font-size: 40%;
	font-style: italic;
	font-weight: 400;
	padding: 0.4em 1em;
	color: rgba(0,0,0,0.2);
	border-top: 1px dashed rgba(255,255,255,0.7);
}

.nl-ti-text ul li.nl-ti-example em {
	color: #fff
}

/* submit button */
.nl-submit-wrap {
	margin-top: 0.4em;
}

.nl-form .nl-submit {
	line-height: 3;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	background: #af163c;
	color: #fff;
	padding: 0 1em 0 0;
	font-size: 40%;
	font-weight: bold;
	letter-spacing: 3px;
}

.nl-submit:before {
	content: "\e001";
	color: #fff;
	float: left;
	padding: 0 0.7em;
	margin: 0 0.8em 0 0;
	background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
	background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover:before {
	background: #58a199;
}

/* overlay becomes visible when a field is opened */
.nl-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	z-index: 9999;
	visibility: hidden;
	-webkit-transition: visibility 0s 0.3s, opacity 0.3s;
	-moz-transition: visibility 0s 0.3s, opacity 0.3s;
	transition: visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
	opacity: 1;
	visibility: visible;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	transition-delay: 0s;
}

@media screen and (max-width: 45em) {
	.nl-form {
		font-size: 3em;
	}
}

@media screen and (max-width: 25em) {
	.nl-form {
		font-size: 2em;
	}
}
}
&.home_produit{
	background: #fafafa;
	position: relative;
	padding-bottom: 100px;
	@media (max-width: 768px) {
		padding-bottom:0;
		border-bottom: 1px solid #000;
	}
	.fiche-produit{
		max-width: 570px;
		padding-top: 80px;
		/*@media (max-width: 768px) {
			background:url(assets/img/bg-krill-mob.png) bottom center no-repeat;
			@include background-size(cover);
		}*/
		.cross{
			float: right;
		}
		.piece{
			float: left;
			padding-right: 120px;
			padding-top: 20px;

			@media (max-width: 768px) {
				padding-right:20px;
				clear: both;
				width: 100%;
			}

			img {
				@media (max-width: 768px) {
					width: 80px;
					left: 50%;
					position: relative;
					margin-left: -40px;
					top: -50px;
				}
			}
		}
		.description{
			h3{
				font-family: 'bebas', sans-serif;
				font-size: 45px;
				letter-spacing: 2px;
				padding:0px;
				margin-bottom:-8px;
				font-weight: bold;

			}
			span{
				font-family:$primary-font;
				font-size: 25px;
				font-weight: bold;

			}
			p{
				font-family: $basic-font;
				line-height: 22px;
				font-size: 15px;
				width: 98%;
				margin-top: 30px;



			}
			button{

				margin-left: 190px;

				@media (max-width: 768px) {
					width: 210px;
					left: 50%;
					margin-left: -105px;
				}
			}
		}
		#formulaire{
			width: 100%;
			display: none;
			z-index: 10;
			position: absolute;
			background: #fafafa;
			padding:65px;

			@media (max-width: 768px) {
				bottom:0;
			}

			h3{
				font-family: 'bebas-light', sans-serif;
				font-size: 35px;
				letter-spacing: 2px;
				
			}
			input{
				width: 90%;
				border:1px solid #000;
				padding:5px;
				margin-top:19px;
				padding: 6px;
			}

			.submit{
			}
			.commandez{
				border:1px solid #af163c;
				width:30%;
				margin-left: 60%;

			}
			::-webkit-input-placeholder {
				color: #000;
				font-family: $primary-font;
				font-weight: 300;
				font-size: 11px;
			}

				:-moz-placeholder { /* Firefox 18- */
					color: #000;  
					font-family: $primary-font;
					font-weight: 300;
					font-size: 11px;
				}

				::-moz-placeholder {  /* Firefox 19+ */
					color: #000;  
					font-family: $primary-font;
					font-weight: 300;
					font-size: 11px;
				}

				:-ms-input-placeholder {  
					color: #000;  
					font-family: $primary-font;
					font-weight: 300;
					font-size: 11px;
				}


			}

		}

		.point-vente{
			background: #FFF;
			padding: 50px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 40%;
			@media (max-width: 768px) {
				width: 100%;
				position: relative;
			}
			.contenu{
				text-align: center;
				max-width: 340px;
				@media (max-width: 768px) {
					max-width:100%;
				}
				h3{
					text-align: center;
					font-family: 'bebas', sans-serif;
					font-size: 45px;
					letter-spacing: 2px;
					font-weight: bold;
					padding-top: 90px;
				}
				p{
					font-family:$primary-font;
					font-size: 16px;
					text-align: center;
					padding: 29px;
				}
				button{
					text-align: center;
					top:78px;	
				}
			}
		}

	}
}
#wpadminbar {position: absolute;}