section {
	&.content{
		margin:0;
		width: 100%;
		top: 0;
		bottom: 0;
		position: absolute;
		background: url(assets/img/krill-bg.jpg) no-repeat center fixed;;
		-webkit-background-size: cover;
		background-size: cover;
		padding: 150px 0;
		color: #ffffff;
		overflow: scroll;

		@media(max-width: 768px) {
			text-align:center;
			padding: 50px 0;
		}

		img {
			&.landing-logo {
				width: 100%;

				@media(max-width: 768px) {
					width:70%;
				}
			}
		}

		h1 {
			font-size: 8em;
			text-transform: uppercase;
			font-family: "Arial", sans-serif;
			font-weight: 900;
		}

		.edito {
			color: #ffffff;
			font-family: 'Open Sans', sans-serif;
			font-size: 19px;
			line-height: 32px;
			font-weight: 100;
		}
		.newsletter {
			.form-control {
				border-radius: 0;
			}
			h3 {
				position: absolute;
			}
			button {
				background: #369dcc;
				border-radius: 0;
				border: none;
				color: #fff;
				border: none;
				padding: 7px 12px;

				&:hover {
					background:darken(#369dcc, 20%);
				}
			}
		}
		&.home {
			h1 {
				display: none;
				&.site-title {
					display: block;
				}
			}
		}
	
	}
}

//for landing v2

section {
	&.landing_head {
		position: relative;
		margin:0;
		height: 100vh;
		color: #fff;

		text-align: center;

		.scroll_way_intro {
			position: absolute;
			bottom: 5%;
			left: 50%;
			margin-left: -150px;
			width: 300px;

			a {
				width: auto;
				height: auto;
				/*border: 1px solid #fff;
				border-radius: 50%;*/
				padding: 13px 15px;
				color: #fff;

				&.btn-primary {
					background-color: transparent;
					border: 1px solid #fff;
					padding: 10px 20px;
					border-radius: 0;
					-webkit-transition: width 0.5s; /* Safari */
    				transition: width 0.5s;

					&:hover {
						background-color:#fff;
						color: #03031e;
					}
				}
			}

			p {
				margin:20px 0;
				display: inline-block;
			}
			
		}
	}
	&.part {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;
		margin: 0;
		height: 100vh;
		color: #ffffff;
		display: table;
		width: 100%;

		&.part_5 {
			background-color: #fff;
		}
		p {
			&.lead {
				font-size: 1.8em;
				font-weight: 100;
				font-family: 'Lato', sans-serif;

				&.intro {
					padding: 70px 0;
				}
			}
		}
		&.part_5 {
			height: 95vh;
			background:	#07083b;
			background-size: cover;

			.newsletter {
				width: 700px;
				left: 50%;
				position: absolute;
				margin-left: -350px;
				background-color: #fff;
				padding: 50px 80px;
				height: 220px;
				top: 50%;
				margin-top: -110px;

				button {
					background-color: #07083b;
					border-radius: 0;
					color: #fff;
					font-family: 'Lato', sans-serif;
					font-weight: 100;
				}
				.form-control {
					border-radius: 0;
				}

				p {
					&.lead {
						color: #07083b;
						font-size: 1.8em;
					}
				}
			}
		}

		.scroll_way {
			margin-top: 20px;
			display: inline-block;
			width: 300px;
			a {
				width: 20px;
				height: 20px;
				/*border: 1px solid #fff;
				border-radius: 50%;*/
				padding: 13px 15px;
				color: #fff;
			}
		}

		.bullet-nav {
			color: #ffffff;
			position: fixed;
			right: 20px;
			height: 300px;
			top: 58%;
			margin-top: -150px;

			a {
				color: #ffffff;
			}
		}

		.container {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
		}

		&.part_1 {
			
		}
	}
}